# Lesson 2 Lab:  Practical Pandas

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [22]:
import pandas as pd
import os

data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))

In [23]:
print (data.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

Print the column names of the dataset to the screen, one column name per line.

In [24]:
data.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [25]:
#look into this one a little more. The solution per the solution manual is a list comprehension. 
for value in data.columns:
    print (value)

Ozone
Solar.R
Wind
Temp
Month
Day

Extract the first 2 rows of the data frame and print them to the console. What does the output
look like?

In [29]:
data.head(2) #or tmp = data.iloc[ :2]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

How many observations (i.e. rows) are in this data frame?

In [33]:
len(data) #or data.shape

153

Extract the last 2 rows of the data frame and print them to the console. What does the output
look like?

In [34]:
data.tail(2) #or data.iloc[-2 : ]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [35]:
data.iloc[46, : ].to_frame()

            46
Ozone     21.0
Solar.R  191.0
Wind      14.9
Temp      77.0
Month      6.0
Day       16.0

What is the value of Ozone in the 47th row?

In [10]:
data.loc[46, "Ozone"]

21.0

How many missing values are in the Ozone column of this data frame?

In [12]:
pd.isnull(data)

     Ozone  Solar.R   Wind   Temp  Month    Day
0    False    False  False  False  False  False
1    False    False  False  False  False  False
2    False    False  False  False  False  False
3    False    False  False  False  False  False
4     True     True  False  False  False  False
5    False     True  False  False  False  False
6    False    False  False  False  False  False
7    False    False  False  False  False  False
8    False    False  False  False  False  False
9     True    False  False  False  False  False
10   False     True  False  False  False  False
11   False    False  False  False  False  False
12   False    False  False  False  False  False
13   False    False  False  False  False  False
14   False    False  False  False  False  False
15   False    False  False  False  False  False
16   False    False  False  False  False  False
17   False    False  False  False  False  False
18   False    False  False  False  False  False
19   False    False  False  False  False  False
20   False    False  False  False  False  False
21   False    False  False  False  False  False
22   False    False  False  False  False  False
23   False    False  False  False  False  False
24    True    False  False  False  False  False
25    True    False  False  False  False  False
26    True     True  False  False  False  False
27   False    False  False  False  False  False
28   False    False  False  False  False  False
29   False    False  False  False  False  False
..     ...      ...    ...    ...    ...    ...
123  False    False  False  False  False  False
124  False    False  False  False  False  False
125  False    False  False  False  False  False
126  False    False  False  False  False  False
127  False    False  False  False  False  False
128  False    False  False  False  False  False
129  False    False  False  False  False  False
130  False    False  False  False  False  False
131  False    False  False  False  False  False
132  False    False  False  False  False  False
133  False    False  False  False  False  False
134  False    False  False  False  False  False
135  False    False  False  False  False  False
136  False    False  False  False  False  False
137  False    False  False  False  False  False
138  False    False  False  False  False  False
139  False    False  False  False  False  False
140  False    False  False  False  False  False
141  False    False  False  False  False  False
142  False    False  False  False  False  False
143  False    False  False  False  False  False
144  False    False  False  False  False  False
145  False    False  False  False  False  False
146  False    False  False  False  False  False
147  False    False  False  False  False  False
148  False    False  False  False  False  False
149   True    False  False  False  False  False
150  False    False  False  False  False  False
151  False    False  False  False  False  False
152  False    False  False  False  False  False

[153 rows x 6 columns]

***
-  Sum the "isnull"

In [38]:
data['Ozone'].isnull().sum()

37

In [11]:
data.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [12]:
data['Ozone'].isnull().sum()

37

What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA)
from this calculation.

In [13]:
data.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [14]:
data["Ozone"].mean(skipna=True)

42.12931034482759

Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values
are above 90. What is the mean of Solar.R in this subset?

In [15]:
data.Ozone.mean()

42.12931034482759

In [40]:
data.loc[(data.Ozone > 31) & (data.Temp>90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [16]:
data[(data["Ozone"] > 31) & (data["Temp"] > 90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [17]:
data[(data["Ozone"] > 31) & (data["Temp"] > 90)]["Solar.R"].mean()

212.8

In [41]:
data.loc[(data.Ozone > 31) & (data.Temp>90), 'Solar.R'].mean()

212.8

In [18]:
data[(data.Ozone > 31) & (data.Temp > 90)].head()

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30

What is the mean of "Temp" when "Month" is equal to 6?

In [19]:
data[(data["Month"] > 5) & (data["Month"] < 7)]["Temp"].mean()

79.1

In [44]:
data.loc[data.Month==6, 'Temp'].mean()

79.1

What was the maximum ozone value in the month of May (i.e. Month = 5)?

In [43]:
data.loc[data.Month==5, 'Ozone'].max()

115.0

# Next Steps

**Recommended Resources**

Name | Description
--- | ---
[Official Pandas Tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html) | Wes & Company's selection of tutorials and lectures
[Julia Evans Pandas Cookbook](https://github.com/jvns/pandas-cookbook) | Great resource with eamples from weather, bikes and 311 calls
[Learn Pandas Tutorials](https://bitbucket.org/hrojas/learn-pandas) | A great series of Pandas tutorials from Dave Rojas
[Research Computing Python Data PYNBs](https://github.com/ResearchComputing/Meetup-Fall-2013/tree/master/python) | A super awesome set of python notebooks from a meetup-based course exclusively devoted to pandas